<h1>Tarefas de hoje</h1>
<div>
  <span>  
  </span>

  <span></span>
  <div>
    <p>A seguir, as tarefas para fazer hoje: {{ data }}</p>
    <ul>

      <li *ngFor="let task of tasks.resultados">
        <b>{{ task.name }}<input type="checkbox" ></b>

        <ul>
          <li>Descrição: {{ task.descricao }} </li>
          <li>Prazo: {{ task.prazo}}</li>
        </ul>  
      </li>            
    </ul>
  </div>

  <!--<div>
    <ul>
      <li>Fazer as comidas do dia <input type="checkbox" ></li>
      <li>Trabalhar <input type="checkbox" ></li>
      <li>Receber, dar banho e comida nos filhos <input type="checkbox" ></li>
      <li>Presentar o projeto final de TOTI <input type="checkbox" ></li>
      <li>Confraternização do amigo secreto do tralalho <input type="checkbox" ></li>
    </ul>
  </div>
-->
  
</div>
          

        

