<h1>Tarefas do mês </h1>
<span></span>
<span></span>
<h3>Tarefas a serem realizadas no mês de {{ month }}</h3>

<ul>
    <b>Referente ao trabalho</b>
    <li>Planejar o processo de trabalho do mês<input type="checkbox" ></li>
    <li>Organizar arquivos do ano anterior<input type="checkbox" ></li>
    <li>Discutir sobre o modelo de trabalho remoto, e se é possível aplicar ou não durante o ano<input type="checkbox" ></li>
</ul>

<ul>
    <b>Referente à família</b>
    <li>Passar aos filhos em consulta médica de rotina<input type="checkbox" ></li>
    <li>Fazer videochamada aos parentes no exterior<input type="checkbox" ></li>
    <li>Jantar com os pais<input type="checkbox" ></li>
    <li>Rematriculas escolares<input type="checkbox" ></li>
    <li>Passeio familiar ao campo<input type="checkbox" ></li>
</ul>

<ul>
    <b>Pendencias particulares<input type="checkbox" ></b>
    <li>Ir ao dentista<input type="checkbox" ></li>
    <li>Ler um livro<input type="checkbox" ></li>
    <li>Iniciar o curso de Marketing<input type="checkbox" ></li>
    <li>Retorno das férias e volta ao trabalho<input type="checkbox" ></li>
</ul>
