
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>

  <body>
    <h1>Projetos futuros</h1>
<div>
  <div> 
  <form >
      <label>
        Projetos futuros:
        <input id="profut" type="text" name="task" />
      </label>

      <button id="btnAddTask" type="button" onclick="addNewTask()">Adicionar</button>
    </form>
  </div> 

  <div>
    <ul id="projetosfuturos">

    </ul>
  </div>

	<script src="./scripts.js"></script>
</div>


<div>
	<ul>
		<li>Revalidação do diploma da faculdade <input type="checkbox" ></li>
		<li>Trabalhar na área de formação <input type="checkbox" ></li>
		<li>Ter um negocio proprio que gere renda extra <input type="checkbox" ></li>
		<li>Comprar um lote para construir minha casa <input type="checkbox" ></li>
		<li>Comprar um carro <input type="checkbox" ></li>
	</ul>
</div>
  </body>
</html>

